<aside class="filterzone">

  <input id="fulltime" type="checkbox" />
  <label class="filter-selection" for="fulltime">
    <span class="filter-check">
      <svg>
        <use xlink:href="#check"></use>
      </svg>
    </span>
    <span class="filter-name">Full time</span>
  </label>

  <span class="location-text">Location</span>
  <article class="location-filter">
    <img class="location-icon" src="assets/icons/public.svg" alt="Location filter">
    <input class="location-input" type="text" aria-label="City, state, zip code or country" placeholder="City, state, zip code or country">
  </article>

  <ul>
    <li>
      <input id="london" type="checkbox" />
      <label class="filter-selection" for="london">
        <span class="filter-check">
          <svg>
            <use xlink:href="#check"></use>
          </svg>
        </span>
        <span class="filter-name">London</span>
      </label>
    </li>

    <li>
      <input id="amsterdam" type="checkbox" />
      <label class="filter-selection" for="amsterdam">
        <span class="filter-check">
          <svg>
            <use xlink:href="#check"></use>
          </svg>
        </span>
        <span class="filter-name">Amsterdam</span>
      </label>
    </li>

    <li>
      <input id="newyork" type="checkbox" />
      <label class="filter-selection" for="newyork">
        <span class="filter-check">
          <svg>
            <use xlink:href="#check"></use>
          </svg>
        </span>
        <span class="filter-name">New York</span>
      </label>
    </li>

    <li>
      <input id="berlin" type="checkbox" />
      <label class="filter-selection" for="berlin">
        <span class="filter-check">
          <svg>
            <use xlink:href="#check"></use>
          </svg>
        </span>
        <span class="filter-name">Berlin</span>
      </label>
    </li>
  </ul>
</aside>



<!--SVG Sprites-->
<svg class="inline-svg">
  <symbol id="check" viewbox="0 0 12 10">
    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
  </symbol>
</svg>