<article class="job">
  <a class="job-link" target="_blank" rel="noopener noreferrer" [href]="job.url">
    <div class="job-content">
      <img class="job-company-logo" [src]="job.company_logo" [alt]="job.company_name" />
      <div class="job-info">
        <h3 class="job-title">{{ job.title }} • {{ job.company_name }}</h3>
        <div class="job-tags">
          <div *ngIf="job.candidate_required_location" class="job-tag location" title="Location: {{ job.candidate_required_location }}">
            <img class="tag-icon" src="assets/icons/remote-symbol.png" alt="" />
            <span class="tag-label">{{ job.candidate_required_location }}</span>
          </div>
          <div *ngIf="job.salary" class="job-tag salary" title="Salary: {{ job.salary }}">
            <span class="tag-label">💸 {{ job.salary }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="job-creation-date">
      <span>{{ job.publication_date }}</span>
    </div>
  </a>
</article>
