.job {
  width: 100%;
  border-radius: var(--size-base);
  background: var(--color-secondary);
  border: 1px solid rgba(237, 242, 247, 1);
  padding: var(--size-2xs) var(--size-base);
}

.job:hover {
  background: #fed294c9;
}

.job-link {
  display: grid;
  align-items: center;
  grid-template-columns: auto fit-content(100%);
}

.job-content {
  display: grid;
  align-items: center;
  gap: var(--size-2xs);
  grid-template-columns: fit-content(100%) auto;
}

.job-content .job-company-logo {
  object-fit: contain;
  max-width: var(--size-3xl);
  max-height: var(--size-3xl);
  border-radius: var(--rounded-full);
}

.job-content .job-info {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.job-info .job-title {
  font-weight: 600;
  font-size: var(--size-sm);
}

.job-info .job-title:hover {
  color: var(--color-brown);
  font-weight: 600;
}

.job-info .job-tags {
  display: grid;
  gap: var(--size-2xs);
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.job-tags .job-tag {
  gap: 0.25rem;
  display: grid;
  align-items: center;
  font-size: 0.625rem;
  padding: 0.25rem var(--size-2xs);
  border-radius: var(--rounded-full);
  grid-template-columns: fit-content(100%) auto;
}

.job-tag.location {
  font-weight: 300;
  background: rgba(0, 0, 0, 0.06);
}

.job-tag.salary {
  font-weight: 600;
  color: var(--color-secondary);
  background: var(--color-chocolate);
}

.job-tag .tag-icon {
  width: var(--size-sm);
  height: var(--size-sm);
}

.job-tag .tag-label {
  display: grid;
  text-transform: uppercase;
  border-radius: var(--rounded-full);
  grid-template-columns: fit-content(100%) auto;
}

.job-creation-date {
  display: none;
}

@media screen and (min-width: 576px) {
  .job-info .job-title {
    font-size: var(--size-lg);
  }

  .job-tags .job-tag {
    font-size: var(--size-xs);
  }

  .job-tag .tag-icon {
    width: var(--size-lg);
    height: var(--size-lg);
  }

  .job-creation-date {
    display: block;
  }
}
