.card .card-link {
  display: flex;
  flex-wrap: wrap;
  background: #FFF;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  user-select: none;
}

.card .card-link:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.card .card-logo {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  margin-left: 0.75rem;
  border-radius: 4px;
  object-fit: contain;
}

.card .card-info {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 118px);
}



.card .card-content {
  color: #334680;
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.card-content .company-name {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-content .job-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-right: 1rem;
}



.card-content .extra-info {
  width: 100%;
}

.extra-info .full-time {
  font-size: 12px;
  font-weight: 700;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #334680;
}

.extra-info .card-metadata {
  display: block;
  color: #B9BDCF;
  font-size: 12px;
  font-weight: 500;
  margin-top: 1.75rem;
}

.card-metadata .job-location {
  display: inline-flex;
  align-items: center;
  margin-right: 1.75rem;
}

.card-metadata .job-creation-date {
  display: inline-flex;
  align-items: center;
}

.card-metadata img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}




@media screen and (min-width: 768px) {
  .card-content .extra-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .extra-info .card-metadata {
    display: inline;
    align-self: flex-end;
    padding-right: 1rem;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .card .card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}