<article>
  <a [href]="'/jobs/' + job.id">
    <img class="logo" [src]="job.company_logo" alt="Logo">
    <div class="info">
      <div class="content">
        <span>{{ job.company }}</span>
        <h2>{{ job.title }}</h2>
        <label *ngIf="job.type === 'Full Time'" class="full-time">Full time</label>
      </div>
      <div class="metadata">
        <span>
          <img src="assets/icons/public.svg" alt="">
          <label>{{ job.location }}</label>
        </span>
        <span>
          <img src="assets/icons/schedule.svg" alt="">
          <label>{{ job.created_at }}</label>
        </span>
      </div>
    </div>
  </a>
</article>