<article>
  <img class="logo" src="assets/images/not-found.png" alt="Logo">
  <div class="info">
    <div class="content">
      <span>New York University</span>
      <h2>Front-End Software Engineer</h2>
      <label class="full-time">Full time</label>
    </div>
    <div class="metadata">
      <span>
        <img src="assets/icons/public.svg" alt="">
        <label>New York</label>
      </span>
      <span>
        <img src="assets/icons/schedule.svg" alt="">
        <label>5 days ago</label>
      </span>
    </div>
  </div>
</article>