<article class="card">
  <a class="card-link" [routerLink]="'/jobs/' + job.id">
    <img class="card-logo" [src]="job.company_logo || 'assets/images/not-found.png'" alt="Company logo">

    <div class="card-info">
      <main class="card-content">
        <span class="company-name">{{ job.company }}</span>
        <h2 class="job-title">{{ job.title }}</h2>

        <div class="extra-info">
          <label *ngIf="job.type === 'Full Time'" class="full-time">Full time</label>

          <div class="card-metadata">
            <span class="job-location">
              <img src="assets/icons/public.svg" alt="Location">
              <label>{{ job.location }}</label>
            </span>
            <span class="job-creation-date">
              <img src="assets/icons/schedule.svg" alt="Created at">
              <label>{{ job.created_at }}</label>
            </span>
          </div>

        </div>
      </main>
    </div>

  </a>
</article>