a {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  user-select: none;
}

a:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.logo {
  object-fit: contain;
  display: inline-block;
  height: 90px;
  width: 90px;
  border-radius: 4px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  margin-left: 0.75rem;
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 118px);
}

.content {
  color: #334680;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.content span {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.content h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.full-time {
  font-size: 12px;
  font-weight: 700;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #334680;
}

.metadata {
  color: #B9BDCF;
  width: 100%;
  text-align: end;
  font-size: 12px;
  font-weight: 500;
  padding-right: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.metadata>:first-child {
  margin-right: 1.75rem;
}

.metadata img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

@media screen and (min-width: 1280px) {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .metadata {
    display: flex;
    width: auto;
    max-width: 40%;
    padding-right: 1rem;
    align-items: flex-end;
  }
}