<section class="searchzone" style="background: url('assets/images/bg-search-zone.png') no-repeat center center;">
  <article class="job-search">
    <img class="job-icon" src="assets/icons/briefcase.svg" alt="Search job" />
    <input
      type="text"
      class="search-input"
      aria-label="Title, companies, expertise or benefits"
      placeholder="Title, companies, expertise or benefits"
      [(ngModel)]="textToSearch"
    />
    <button class="search-btn">Search</button>
  </article>
</section>
