section {
  background: url('/assets/images/hero-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 8.75rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}
