*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --font-roboto: Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  font-family: var(--font-roboto);
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

button,
input {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button],
[type=button],
[type=submit],
[type=reset],
button {
  cursor: pointer;
  appearance: button;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

img,
svg,
video {
  display: block;
}

img,
video {
  height: auto;
  max-width: 100%;
}