<section class="job-container">
  <aside>
    <a routerLink="/">
      <img src="assets/icons/back_arrow.svg" alt="Back to search">
      <span>Back to search</span>
    </a>
    <h4>How to Apply</h4>
    <ng-container *ngIf="jobInfo; else loading_howToApply">
      <p [innerHTML]="jobInfo.how_to_apply"></p>
    </ng-container>
    <ng-template #loading_howToApply>
      <p class="how-to-apply">
        <span class="loading"></span>
        <span class="loading"></span>
      </p>
    </ng-template>
  </aside>

  <ng-container *ngIf="jobInfo; else loading_main">
    <main>
      <h2>
        <span>{{ jobInfo.title }}</span>
        <label *ngIf="jobInfo.type === 'Full Time'" class="full-time">Full time</label>
      </h2>

      <span class="metainfo">
        <img src="assets/icons/schedule.svg" alt="Created at">
        <label>{{ jobInfo.created_at }}</label>
      </span>

      <div class="company">
        <img class="logo" [src]="jobInfo.company_logo || 'assets/images/not-found.png'" alt="Company logo">
        <div>
          <h3>{{ jobInfo.company }}</h3>
          <span class="metainfo">
            <img src="assets/icons/public.svg" alt="Location">
            <label>{{ jobInfo.location }}</label>
          </span>
        </div>
      </div>

      <p [innerHTML]="jobInfo.description"></p>
    </main>
  </ng-container>

  <ng-template #loading_main>
    <main class="loading-main">
      <h2 class="full-title">
        <span class="loading title"></span>
        <label class="full-time loading"></label>
      </h2>

      <span class="metainfo">
        <img src="assets/icons/schedule.svg" alt="Created at">
        <label class="extra loading"></label>
      </span>

      <div class="company">
        <figure class="loading logo"></figure>
        <div>
          <h3 class="company-name loading"></h3>
          <span class="metainfo">
            <img src="assets/icons/public.svg" alt="Location">
            <label class="extra loading"></label>
          </span>
        </div>
      </div>

      <p>
        <span class="content loading"></span>
        <span class="content loading"></span>
        <span class="content loading"></span>
        <span class="content loading"></span>
        <span class="content loading"></span>
        <span class="content loading"></span>
        <span class="content loading"></span>
        <span class="content loading"></span>
      </p>
    </main>
  </ng-template>
</section>