.job-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 228px);
}

main h2 {
  display: flex;
  flex-wrap: wrap;
}

h2 span {
  width: 100%;
}

.full-time {
  font-size: 12px;
  font-weight: 700;
  padding: 6px 8px;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid #334680;
}

.metainfo {
  display: flex;
  align-items: center;
  color: #B9BDCF;
  font-size: 12px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.metainfo img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.company {
  display: flex;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.logo {
  object-fit: contain;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 4px;
  margin-right: 0.75rem;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}



aside {
  width: 100%;
  font-family: "Poppins";
  margin-bottom: 1.5rem;
  word-break: break-word;
}

aside a {
  display: flex;
  align-items: center;
  margin-bottom: 2.25rem;
}

aside img {
  width: 28px;
  height: 28px;
  transform: rotate(180deg);
}

aside span {
  color: #1E86FF;
  font-size: 14px;
  font-weight: 500;
}

aside h4 {
  display: block;
  color: #B9BDCF;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

aside p {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.how-to-apply span, .content.loading {
  display: block;
  width: 100%;
  height: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.loading-main {
  width: 100%;
}

.full-title {
  width: 20rem;
}

.title.loading {
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
}

.full-time.loading {
  display: block;
  width: 64px;
  height: 28px;
  border-radius: 0.25rem;
  border: none;
}

.company-name.loading {
  width: 16rem;
  height: 1.25rem;
}

.extra.loading {
  width: 6rem;
  height: 0.75rem;
}

.loading {
  position: relative;
  background-color: #E8E8E8;
}

.logo::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.35), transparent);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(50%);
  }
}

@media screen and (min-width: 1280px) {
  main {
    margin-left: 1rem;
    max-width: 790px;
  }

  aside {
    top: 32px;
    position: sticky;
    max-width: 378px;
    margin-right: 1rem;
  }
}