.title {
  width: max-content;
  font-size: var(--size-xl);
  padding-top: var(--size-3xl);
}

.content {
  display: grid;
  gap: var(--size-base);
  margin-top: var(--size-base);
}

@media screen and (min-width: 1024px) {
  .content {
    grid-template-columns: 1fr 2fr;
  }
}
