---
import InputRadio from '@/components/input-radio.astro'
---

<section class="h-max rounded-2xl border border-[rgb(237,242,247)] px-4 py-6 lg:sticky lg:top-7">
  <span class="mb-3 block leading-5 font-bold">Remote Location</span>
  <article class="grid grid-rows-3 gap-2">
    <InputRadio text="🇺🇸" label="USA Only" name="location" value="USA Only" />
    <InputRadio imageName="worldwide-symbol" label="Worldwide" name="location" value="Worldwide" />
    <InputRadio imageName="remote-symbol" label="Other Locations" name="location" value="Other Locations" />
  </article>
</section>
