---
import Image from '@/components/image.astro'
import Button from '@/components/button.astro'
import Container from '@/components/container.astro'
import InputSearch from '@/components/input-search.astro'
---

<header class="w-full bg-tertiary pb-8 lg:pb-16">
  <Container>
    <h1 class="w-max py-4 text-2xl lg:py-8">
      <strong>Remotive</strong> Jobs
    </h1>

    <section class="relative flex h-35 w-full flex-wrap items-center justify-center rounded-lg px-4">
      <Image
        alt=""
        width={1200}
        height={140}
        fetchpriority="high"
        name="bg-search-zone"
        class="absolute right-0 left-0 h-35 w-full"
      />

      <article
        class="absolute z-20 grid w-full max-w-180 grid-cols-[auto_minmax(80px,100%)_auto] items-center gap-1.5 rounded bg-white p-1 pl-4"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#B9BDCF">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M14 6V4h-4v2h4zM4 8v11h16V8H4zm16-2c1.11 0 2 .89 2 2v11c0 1.11-.89 2-2 2H4c-1.11 0-2-.89-2-2l.01-11c0-1.11.88-2 1.99-2h4V4c0-1.11.89-2 2-2h4c1.11 0 2 .89 2 2v2h4z"
            fill-rule="evenodd"></path>
        </svg>
        <InputSearch placeholder="Title, companies, expertise or benefits" />
        <Button>Search</Button>
      </article>
    </section>
  </Container>
</header>
