---
import Container from '@/components/container.astro'
---

<header class="bg-tertiary w-full pb-8 lg:pb-16">
  <Container>
    <h1 class="w-max py-4 text-2xl lg:py-8">
      <strong>Remotive</strong> Jobs
    </h1>
    <slot />
  </Container>
</header>
