section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

main {
  width: 100%;
  min-height: 10rem;
}

@media screen and (min-width: 1280px) {
  main {
    margin-left: 1rem;
    max-width: 790px;
  }
}