<ng-container *ngIf="jobsList; else loading">
  <app-card *ngFor="let job of jobsList" [job]="job"></app-card>
</ng-container>



<ng-template #loading>
  <ng-container *ngFor="let skeleton of skeletons">

    <article class="card-loading">
      <figure class="card-image loading"></figure>

      <main class="card-detail">
        <span class="loading"></span>
        <h2 class="loading"></h2>

        <footer class="card-footer">
          <label class="full-time loading"></label>
        </footer>
      </main>
    </article>

  </ng-container>
</ng-template>



<div class="pagination">
  <div class="pagination-content">
    <button class="page arrow" disabled>
      <img src="assets/icons/chevron-left.svg" alt="Previous">
    </button>
    <button class="page active">1</button>
    <button class="page">2</button>
    <button class="page">3</button>
    <div class="ellipsis">
      ···
    </div>
    <button class="page">10</button>
    <button class="page arrow">
      <img src="assets/icons/chevron-right.svg" alt="Next">
    </button>
  </div>
</div>