<ng-container *ngIf="jobsList; else loading">
  <app-card *ngFor="let job of jobsList" [job]="job"></app-card>
</ng-container>

<ng-template #loading>

  <ng-container *ngFor="let skeleton of skeletons">
    <article class="card">
      <figure class="card-image loading"></figure>
      <div class="card-detail">
        <span class="loading"></span>
        <h2 class="loading"></h2>
        <div class="card-metadata">
          <label class="full-time loading"></label>
        </div>
      </div>
    </article>
  </ng-container>

</ng-template>